@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
html{
    background-image:url("/image/donate-background.jpg"); ;
    /* z-index:4; */
    background: size 200px;


}
header h1{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: x-large;
  
   
}

header{
    background-color:rgba(96, 96, 96,0.8);
    width: 100%;
    height: 100px;
  
     
    

}
main{
    display: -ms-flexbox;
    justify-content: center;
}
table {
    border: 3px solid black;
    margin-top: 150px;
    position: absolute;
    right: 100px;
    width: 50%;
    color: #eee;
    background-color: rgba(96, 96, 96,0.8);;
    border: solid 1px 
    

}

table tr td, table tr th {
    text-align: left;
    border: solid 1px rgba(96, 96, 96,0.8);
    padding: 5px;
    margin: 5%;
}

table tr th {
    text-align: center;
}


 /* main table{
        position: relative;  
        border: 1px solid black;
       text-align: center;
       height: inherit;
       width: unset;
       right: auto;
       margin-left: 900px;
       background-color: rgba(96, 96, 96,0.8);
       
 } */
  
 footer{
     
     position: absolute;
     bottom: 0px;
     margin-top: 15px;
     background-color:rgba(96, 96, 96,0.8) ;
     text-align: center;
     width: 100%;
     height: 10%;
     margin-top: 10px;  
     text-align: center;   
     
 }
 form{
    color:#eee;
    border: 1px solid black;
    width: 30%;
    position: absolute;
   right: 900px;
   margin-top: 15px;
   background-color: rgba(96, 96, 96,0.8);
   z-index: 3;
 }
 footer h2{
  
    position: absolute;
    width: 100%;
     margin-top: 3px;
 }
  
#donortable{
    position: absolute;
    right: 10%;
    top: 10%;
}

#boutton{
    text-align: center;
    width: 100%;
    position: absolute;
    right: px;
}