*{
    /* background-image:url("image/donate-background.jpg"); ;
   z-index:4;
    background: size 200px; */


}
header h1{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: x-large;
  
   
}
header{
    background-color:rgb(196, 170, 170);
    width: 100%;
    height: 100px;
    z-index: 5;

    

}
 main table{
   
        border: 1px solid black;
      
 }
  
 footer{
     
     position: absolute;
     bottom: 0px;
     margin-top: 15px;
     background-color:brown ;
     text-align: center;
     width: 100%;
     height: 10%;
     margin-top: 10px;     
     
 }
 form{
    border: 1px solid black;
    width: 30%;
    position: absolute;
   right: 700px;
   
    
 }
 footer h2{
    text-align: center;
    position: absolute;
     margin-top: 3px;
 }
  
#donortable{
    position: absolute;
    right: 10%;
    top: 10%;
}