html{
    background-image:url("image/donate-background.jpg"); ;
    z-index:4;
    background: size 200px;


}
header h1{
   text-align: center;
   font-family: 'Roboto', sans-serif;
   font-size: x-large;
  
   
}
header{
    background-color:rgb(196, 170, 170);
    width: 100%;
    height: 100px;
    

    

}
 main table{
   
        border: 1px solid black;
       text-align: center;
       height: inherit;
       width: unset;
       right: auto;
       margin-left: 900px;
       
 }
  
 footer{
     
     position: absolute;
     bottom: 0px;
     margin-top: 15px;
     background-color:brown ;
     text-align: center;
     width: 100%;
     height: 10%;
     margin-top: 10px;  
     text-align: center;   
     
 }
 form{
    border: 1px solid black;
    width: 30%;
    position: absolute;
   right: 900px;
   margin-top: 15px;
 }
 footer h2{
  
    position: absolute;
    width: 100%;
     margin-top: 3px;
 }
  
#donortable{
    position: absolute;
    right: 10%;
    top: 10%;
}

#boutton{
    text-align: center;
    width: 100%;
    position: absolute;
    right: px;
}